<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://threejs.org/build/three.min.js"></script>
		<script src="http://threejs.org/examples/js/effects/StereoEffect.js"></script>
		<script src="http://threejs.org/examples/js/Detector.js"></script>
		<script src="js/DeviceOrientationControls.js"></script>
		<script src="js/StereoEffect.js"></script>
		<script src="js/DeviceOrientationControls.js"></script>
		<script src="js/OrbitControls.js"></script>
	</head>
	<body>
	</body>
	<script type="text/javascript">
			var socket = io();
			socket.on('identify', function(id){
				console.log('I am '+id);
			});
			socket.on('punch',punch);

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var camera, scene, renderer;
			var effect, controls;
			var element, container;

			var opponent;

			var clock = new THREE.Clock();

			init();
			animate();

			function init() {
				renderer = new THREE.WebGLRenderer();
				element = renderer.domElement;
				container = document.createElement( 'div' );
				document.body.appendChild( container );
				container.appendChild(element);

				effect = new THREE.StereoEffect(renderer);

				scene = new THREE.Scene();

				//camera = new THREE.PerspectiveCamera(90, 1, 0.001, 700);
				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 1, 100000 );
				camera.position.z = 3200;
				//camera.position.set(0, 10, 0);
				scene.add(camera);

				controls = new THREE.OrbitControls(camera, element);
				controls.rotateUp(Math.PI / 4);
				controls.target.set(
					camera.position.x + 0.1,
					camera.position.y,
					camera.position.z
				);
				controls.noZoom = true;
				controls.noPan = true;

				function setOrientationControls(e) {
					if (!e.alpha) {
						return;
					}

					controls = new THREE.DeviceOrientationControls(camera, true);
					controls.connect();
					controls.update();

					element.addEventListener('click', fullscreen, false);

					window.removeEventListener('deviceorientation', setOrientationControls, true);
				}
				window.addEventListener('deviceorientation', setOrientationControls, true);
				window.addEventListener('click', fullscreen, false);
				var path = "images/";
				var format = '.jpg';
				var urls = [
					path + 'px' + format, path + 'nx' + format,
					path + 'py' + format, path + 'ny' + format,
					path + 'pz' + format, path + 'nz' + format
				];

				var textureCube = THREE.ImageUtils.loadTextureCube( urls, THREE.CubeRefractionMapping );
				var material = new THREE.MeshBasicMaterial( { color: 0xffffff, envMap: textureCube, refractionRatio: 0.95 } );
				var light = new THREE.HemisphereLight(0x777777, 0x000000, 0.6);
				scene.add(light);

				var shader = THREE.ShaderLib[ "cube" ];
				shader.uniforms[ "tCube" ].value = textureCube;

				var material = new THREE.ShaderMaterial( {

					fragmentShader: shader.fragmentShader,
					vertexShader: shader.vertexShader,
					uniforms: shader.uniforms,
					side: THREE.BackSide

				} ),

				mesh = new THREE.Mesh( new THREE.BoxGeometry( 100000, 100000, 100000 ), material );
				scene.add( mesh );

				window.addEventListener('resize', resize, false);
				setTimeout(resize, 1);
			}

			function resize() {
				var width = container.offsetWidth;
				var height = container.offsetHeight;

				camera.aspect = width / height;
				camera.updateProjectionMatrix();

				renderer.setSize(width, height);
				effect.setSize(width, height);
			}

			function update(dt) {
				resize();

				camera.updateProjectionMatrix();

				controls.update(dt);
			}

			function render(dt) {
				effect.render(scene, camera);
			}

			function animate(t) {
				requestAnimationFrame(animate);

				update(clock.getDelta());
				render(clock.getDelta());
			}

			function fullscreen() {
				if (container.requestFullscreen) {
					container.requestFullscreen();
				} else if (container.msRequestFullscreen) {
					container.msRequestFullscreen();
				} else if (container.mozRequestFullScreen) {
					container.mozRequestFullScreen();
				} else if (container.webkitRequestFullscreen) {
					container.webkitRequestFullscreen();
				}
			}
			function punch(strength){
				console.log('OW, that hurt like '+strength + ' badgers');
			}
		</script>
</html>